<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB</title>
  </head>
  <body>
    <form action="/search" method="GET">
      <label>Search user: 
        <input type="text" name="searchUser" id="searchUser" />
      </label>
    </form>
    <% if (locals.usernames) { %>
      <ul>
        <% usernames.forEach((username) => { %>
          <li><%= username %></li>
        <% }) %>
      </ul>
    <%  } %>
    <a href="/new">Add user</a>
    <% if (isSearch) { %>
      <a href="/">Clear</a>
    <% } %>
  </body>
</html>
