<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB</title>
  </head>
  <body>
    <form action="/search" method="GET">
      <label>Search user: 
        <input type="text" name="searchUser" id="searchUser" />
      </label>
    </form>
    <% if (isSearch) { %>
      <a href="/">Clear search results</a>
    <% } %>
    <% if (locals.usernames) { %>
      <ul>
        <% usernames.forEach((username) => { %>
          <li>
            <%= username %>
            <form method="POST" action="/delete/<%= username %>" style="display: inline;">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }) %>
      </ul>
    <%  } %>
    <a href="/new">Add user</a>
    <form method="POST" action="/deleteall" style="display: inline;">
      <button type="submit">Delete all</button>
    </form>
  </body>
</html>
